/* ------------------------- */
/* css Reset                 */
/* ------------------------- */



*,::before,
::after{
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
body{
    line-height:1.5;
    min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


:root{

--Dark-cyan: hsl(158, 36%, 37%);
--hover-cyan:hsl(158, 36%, 17%);
--Cream: hsl(30, 38%, 92%);


--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}



/* utility */

.flex_group{
  display: flex;
  gap:1rem;
  align-items: center;
}

/* general styling */
body{
    background-color: var(--Cream);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    color:var(--Dark-grayish-blue);
    margin:1rem;
    display:flex;
    justify-content: center;
    align-items: center;

   
}

.card{
    --padding:1.5rem;
    --spacing:.5rem;
    border-radius: 0.75rem;
    overflow: hidden;
    display:grid;
    background-color: var(--White);
    max-width:600px;
    }


    @media (min-width:600px){
      .card{
      grid-template-columns: 1fr 1fr;
      }
    }
.product_content{
  padding:var(--padding);
  gap: var(--spacing);
  display: grid;
  line-height: 2;
}
   



.category{
  font-size: .75rem;
  letter-spacing: .5em;
  text-transform: uppercase;

}
.title{
 font-size: 2rem; 
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color:black;
  

}
.discounted{
font-size:1.7rem;
font-family:'Fraunces', serif ;
color:var(--Dark-cyan);

}


.button{
  font-size: 1rem;
  text-decoration: none;
  background-color: var(--Dark-cyan);
  border:0;
  border-radius:0.5em ;
  color:var(--White);
  font-weight: 700;  
  display: inline-flex;
  gap:0.75em;
  justify-content: center;
  align-items: center;
}
.button:is(:hover,:focus)
{
  background-color: var(--hover-cyan);
  cursor: pointer;
}


.button[data-icon="shopping_cart"]::before{
  content:"";
width:15px;
height: 16px;
background-image: url("image/icon-cart.svg");



}




.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}